Repository lizuncong/arise-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: stash
  eslint.config.js
  package-lock.json
  package.json
  src/App.tsx
Due: eslint --fix, prettier --write

feat: 自动格式化
  .prettierrc.json
  .vscode/settings.json
  eslint.config.js
  package-lock.json
  src/App.tsx
  src/main.tsx
Due: eslint --fix, prettier --write

feat: 支持less
  package-lock.json
  package.json
  src/App.tsx
  src/index.less
  src/index.module.less
Due: eslint --fix, prettier --write, stylelint --fix

feat: stylelint
  .vscode/settings.json
  package-lock.json
  package.json
  src/index.less
Due: prettier --write, stylelint --fix

feat: stash
  README.md
  package-lock.json
  package.json
  src/App.tsx
Due: eslint --fix, prettier --write

feat: commitlint
  .commitlintrc.cjs
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
  src/App.tsx
  src/index.css
Due: eslint --fix, prettier --write

feat: readme
  README.md
Due: none

feat: logo
  index.html
  public/sudo.jpg
Due: none

feat: unused import
  eslint.config.js
  package-lock.json
  package.json
  src/App.css
  src/App.module.css
  src/App.tsx
  src/index.css
  src/index.less
  src/index.module.less
  src/main.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: eslint
  src/App.tsx
  src/components/Button/index.module.less
  src/components/Button/index.tsx
  src/pages/Dashboard/index.module.less
  src/pages/Dashboard/index.tsx
  src/pages/Home/index.module.less
  src/pages/Home/index.tsx
  src/routes/index.tsx
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: stash
  src/components/Button/index.module.less
Due: prettier --write, stylelint --fix

feat: 脚手架完成
  README.md
  docs/前端架构设计文档.md
  eslint.config.js
  index.html
  package-lock.json
  package.json
  src/App.module.css
  src/App.tsx
  src/api/dashboard.ts
  src/api/home.ts
  src/components/Button/index.tsx
  src/hooks/useDebounce.ts
  src/index.css
  src/main.tsx
  src/pages/Dashboard/index.tsx
  src/pages/Home/index.tsx
  src/routes/constant.ts
  src/routes/index.tsx
  src/store/createAppSlice.ts
  src/store/hooks.ts
  src/store/index.ts
  src/store/reducer/dashboard.ts
  src/store/reducer/global.ts
  src/store/reducer/home.ts
  src/styles/normalize.css
  src/types/dashboard.ts
  src/types/enum.ts
  src/types/home.ts
  src/utils/format.ts
  src/utils/request.ts
Due: eslint --fix, prettier --write

feat: 多语言
  docs/images/schema_01.jpg
  docs/images/schema_02.jpg
  docs/images/schema_03.jpg
  docs/images/schema_04.jpg
  docs/images/schema_05.jpg
  docs/images/schema_06.jpg
  docs/images/schema_07.jpg
  docs/images/schema_08.jpg
  docs/images/schema_09.jpg
  docs/images/schema_10.jpg
  docs/images/schema_11.jpg
  docs/images/schema_12.jpg
  docs/schema协议.md
  eslint.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/apimock/language-schema.js
  src/apimock/section-data.js
  src/apimock/sections.js
  src/apimock/setting.js
  src/apimock/theme-update.js
  src/locales/en.json
  src/locales/zh-hans-cn.json
  src/locales/zh-hans-cn.schema.json
  src/pages/Home/index.tsx
  src/sections/FeaturedSlideShow/index.module.less
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/FeaturedSlideShow/schema.json
  src/sections/MultiMediaSplicing/index.module.less
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/MultiMediaSplicing/schema.json
  src/sections/Video/index.module.less
  src/sections/Video/index.tsx
  src/sections/Video/schema.json
  src/store/index.ts
  src/store/reducer/global.ts
  src/store/reducer/home.ts
  src/store/reducer/theme.ts
  src/theme/schema.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: stash
  .github/workflows/build.yml
  package-lock.json
  package.json
  src/routes/index.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@2057b88fcd5171e470c27759a9d62f8e4d497cb5 🚀
  assets/index-BcShDoc_.js
  assets/index-CzSiQhAQ.css
  assets/index-D6BXZ84r.css
  assets/index-DQo1sPh2.js
  assets/index-DfwlstQi.css
  assets/index-d6BrvAB4.js
  index.html
  sudo.jpg
  vite.svg
Due: none

feat: stash
  src/App.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@34e3f25e377cbf9a775529154988bb132cd44a21 🚀
  assets/index-BUUhhOP8.js
  assets/index-BcShDoc_.js
  assets/index-DJ9H1BDE.js
  assets/index-DQo1sPh2.js
  assets/index-DkJk4OpJ.js
  assets/index-d6BrvAB4.js
  index.html
Due: none

feat: 通信层接入完成
  README.md
  eslint.config.js
  src/App.tsx
  src/api/dashboard.ts
  src/api/home.ts
  src/apimock/language-schema.js
  src/apimock/section-data.js
  src/apimock/sections.js
  src/apimock/setting.js
  src/apimock/theme-update.js
  src/constant.ts
  src/i18n.ts
  src/locales/en.json
  src/locales/zh-hans-cn.json
  src/pages/Dashboard/index.tsx
  src/pages/Home/hooks/useInitEditor.ts
  src/pages/Home/index.tsx
  src/sections/FeaturedSlideShow/schema.json
  src/sections/MultiMediaSplicing/schema.json
  src/sections/Video/schema.json
  src/sections/schema.ts
  src/store/reducer/home.ts
  src/types/section.ts
  src/utils/IFrameCommunicator/index.ts
  src/utils/IFrameCommunicator/type.ts
  src/utils/resolvablePromise.ts
Due: eslint --fix, prettier --write

feat: 类型声明
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

feat: 大小写的问题
  src/pages/Home/hooks/useListenerMsgFromIframe.ts
  src/sections/schema.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@0a921f5ee24cde83351ec86da83ed7421536cf8c 🚀
  assets/index-BUUhhOP8.js
  assets/index-CZiVmSyZ.js
  assets/index-D849zK8e.js
  assets/index-DJ9H1BDE.js
  assets/index-DkJk4OpJ.js
  assets/index-Dwm-GikY.js
  index.html
Due: none

feat: 双向通信基本完成
  eslint.config.js
  src/pages/Home/hooks/useInitEditor.ts
  src/pages/Home/hooks/useListenerMsgFromEdtitor.ts
  src/pages/Home/hooks/useListenerMsgFromIframe.ts
  src/pages/Home/hooks/useUpdateConfigDataAndNotify.ts
  src/pages/Home/index.module.less
  src/pages/Home/index.tsx
  src/sections/FeaturedSlideShow/index.module.less
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/FeaturedSlideShow/schema.json
  src/sections/MultiMediaSplicing/index.module.less
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/MultiMediaSplicing/schema.json
  src/sections/Video/index.module.less
  src/sections/Video/index.tsx
  src/sections/Video/schema.json
  src/sections/schema.ts
  src/store/index.ts
  src/store/reducer/home.ts
  src/utils/IFrameCommunicator/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@d7a98a8599d4f75e13dd04043a97fb12fd76cb8a 🚀
  assets/index-B5dLgjhe.css
  assets/index-BcxJfvEw.css
  assets/index-By_P7yTT.js
  assets/index-CZiVmSyZ.js
  assets/index-C_MmnGij.js
  assets/index-CjGkK8Zc.js
  assets/index-CqySgBtD.js
  assets/index-Cw1UJfON.js
  assets/index-CzSiQhAQ.css
  assets/index-D849zK8e.js
  assets/index-DWmIEK__.css
  assets/index-Dwm-GikY.js
  assets/index-Tr8W90YD.css
  assets/index-bA7FKPvl.js
  index.html
Due: none

feat: disable
  src/pages/Home/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@63463f85fada328b5c23b93a3873139e25203a51 🚀
  assets/index-Bj730GYk.js
  assets/index-BkHxh309.js
  assets/index-BmgjIeQ_.js
  assets/index-By_P7yTT.js
  assets/index-BywmzT79.js
  assets/index-CEmVjt7g.js
  assets/index-CjGkK8Zc.js
  assets/index-CqySgBtD.js
  assets/index-Cw1UJfON.js
  assets/index-Dq26-2QE.js
  assets/index-bA7FKPvl.js
  index.html
Due: none

feat: bg
  src/styles/normalize.css
Due: none

Deploying to gh-pages from @ lizuncong/arise-theme@f9afac38f26623dbe33eb9cf21b2a797ab2fa527 🚀
  assets/index-BKigk-Rn.js
  assets/index-BVduetdL.css
  assets/index-Bj730GYk.js
  assets/index-Blmx72FM.js
  assets/index-BmgjIeQ_.js
  assets/index-BttE8CnR.js
  assets/index-BywmzT79.js
  assets/index-CEmVjt7g.js
  assets/index-CXHDg2q8.js
  assets/index-D6BXZ84r.css
  assets/index-D9KKBVxw.js
  assets/index-Dhp9URrB.js
  assets/index-Dq26-2QE.js
  index.html
Due: none

feat: schema修改
  src/locales/zh-hans-cn.schema.json
  src/sections/FeaturedSlideShow/schema.json
Due: none

feat: schema
  src/locales/zh-hans-cn.schema.json
Due: none

Deploying to gh-pages from @ lizuncong/arise-theme@767c89d405809bfdf1ba5c96c5a37151ac16eaf4 🚀
  assets/index--cPPsoyN.js
  assets/index-B5pYs-Eg.js
  assets/index-BKigk-Rn.js
  assets/index-Blmx72FM.js
  assets/index-CXHDg2q8.js
  assets/index-D8Nx-ii3.js
  assets/index-D9KKBVxw.js
  assets/index-DEi_BJV8.js
  assets/index-Dhp9URrB.js
  assets/index-UIFaBWEQ.js
  assets/index-macZRJg7.js
  index.html
Due: none

Deploying to gh-pages from @ lizuncong/arise-theme@640e264ab9a5871297e52e22287092331012686d 🚀
  assets/index--cPPsoyN.js
  assets/index-3fjIpji1.js
  assets/index-B5pYs-Eg.js
  assets/index-D8Nx-ii3.js
  assets/index-DEi_BJV8.js
  assets/index-DPyUEjqz.js
  assets/index-DqS57aeu.js
  assets/index-R26JkAoa.js
  assets/index-SX-gx_5Z.js
  assets/index-WkzZ0_7X.js
  assets/index-macZRJg7.js
  index.html
Due: none

feat: schema
  src/sections/FeaturedSlideShow/schema.json
Due: none

Deploying to gh-pages from @ lizuncong/arise-theme@f25471e271b7776161692b6bc9749d554b9814a5 🚀
  assets/index-3fjIpji1.js
  assets/index-B1ELxThv.js
  assets/index-BAL4SLJl.js
  assets/index-BGq_L_9m.js
  assets/index-BVlsORYt.js
  assets/index-CLtktaay.js
  assets/index-CiR8fGFq.js
  assets/index-DPyUEjqz.js
  assets/index-DqS57aeu.js
  assets/index-SX-gx_5Z.js
  assets/index-WkzZ0_7X.js
  index.html
Due: none

feat: css
  src/pages/Home/index.module.less
Due: prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@daa4b16ad33646a4ca6e7182fc27ee8f2afc54b0 🚀
  assets/index-A8S7NsGM.js
  assets/index-B1ELxThv.js
  assets/index-B2fvZmGt.js
  assets/index-BAL4SLJl.js
  assets/index-BVlsORYt.js
  assets/index-BqB84zM2.js
  assets/index-BrIn88TZ.js
  assets/index-CC5GrTbq.css
  assets/index-CLtktaay.js
  assets/index-CiR8fGFq.js
  assets/index-DWmIEK__.css
  assets/index-KDHmluiB.js
  assets/index-SguflaQi.js
  index.html
Due: none

feat: ts类型优化
  src/pages/Home/index.tsx
  src/sections/FeaturedSlideShow/schema.json
  src/sections/FeaturedSlideShow/schema.ts
  src/sections/MultiMediaSplicing/schema.json
  src/sections/MultiMediaSplicing/schema.ts
  src/sections/Video/schema.json
  src/sections/Video/schema.ts
  src/sections/schema.ts
  src/store/reducer/home.ts
  src/types/section.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@422c5c4c75a769249fde05612aff1bd4c39fa2fa 🚀
  assets/index-A8S7NsGM.js
  assets/index-B2fvZmGt.js
  assets/index-BIOihOQp.js
  assets/index-BPHcqWTA.js
  assets/index-BqB84zM2.js
  assets/index-BrIn88TZ.js
  assets/index-C4MPWr3D.js
  assets/index-DXGMNdJd.js
  assets/index-KDHmluiB.js
  assets/index-SguflaQi.js
  assets/index-jPseL91m.js
  assets/index-sNEtXzdg.js
  index.html
Due: none

feat: icon type
  src/sections/FeaturedSlideShow/schema.ts
  src/sections/MultiMediaSplicing/schema.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@192e6c37f16ab286662ea6c0c036a159d7c624e0 🚀
  assets/index-B5QYl5V9.js
  assets/index-BIOihOQp.js
  assets/index-BPHcqWTA.js
  assets/index-C2Ez4zCE.js
  assets/index-C4MPWr3D.js
  assets/index-CbSio_kn.js
  assets/index-CqXMvNrF.js
  assets/index-DXGMNdJd.js
  assets/index-Tn4LpXsi.js
  assets/index-V2TMZtzS.js
  assets/index-jPseL91m.js
  index.html
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: **/*.less)
  stylelint --fix: any of: **/*.less
