Repository lizuncong/arise-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: type
  src/types/section.ts
Due: eslint --fix, prettier --write

feat: 先输出配置项的值
  eslint.config.js
  src/pages/Home/index.tsx
  src/sections/FeaturedSlideShow/index.module.less
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/MultiMediaSplicing/index.module.less
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/Video/index.module.less
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@2674b79a38ed34176c6ffa03e0ab17f3fae425da 🚀
  assets/index-B5QYl5V9.js
  assets/index-B5dLgjhe.css
  assets/index-BVj_J11j.js
  assets/index-BcxJfvEw.css
  assets/index-Bmp0XvQZ.js
  assets/index-BtYhu7QF.js
  assets/index-C2Ez4zCE.js
  assets/index-CXf1mIOK.js
  assets/index-CbSio_kn.js
  assets/index-CqXMvNrF.js
  assets/index-DNx0gRhU.js
  assets/index-KC4I-qUP.css
  assets/index-Tn4LpXsi.js
  assets/index-Tr8W90YD.css
  assets/index-Xb2TIDhy.js
  index.html
Due: none

feat: value
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@39dd0755f132858fa5807e768d769ae000578450 🚀
  assets/index-BOjMlwDd.js
  assets/index-BVj_J11j.js
  assets/index-BZcrTrwD.js
  assets/index-Bmp0XvQZ.js
  assets/index-BtYhu7QF.js
  assets/index-CXf1mIOK.js
  assets/index-DwS-XZE0.js
  assets/index-K5Q-_gzi.js
  assets/index-VuerLJci.js
  assets/index-Xb2TIDhy.js
  assets/index-u54vidWa.js
  index.html
Due: none

feat: stash
  src/pages/Home/hooks/useListenerMsgFromEdtitor.ts
  src/pages/Home/hooks/useUpdateConfigDataAndNotify.ts
  src/store/reducer/home.ts
  src/utils/IFrameCommunicator/index.ts
  src/utils/IFrameCommunicator/type.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@6868794a6dc058c77808d2f3c27380fe2d575b17 🚀
  assets/index-BMKCa7lc.js
  assets/index-BOjMlwDd.js
  assets/index-BZcrTrwD.js
  assets/index-CfFU-xAF.js
  assets/index-ClhWby8H.js
  assets/index-DBgp_2FD.js
  assets/index-DwS-XZE0.js
  assets/index-FPpX0zQr.js
  assets/index-K5Q-_gzi.js
  assets/index-VuerLJci.js
  assets/index-qYW9JC4j.js
  index.html
Due: none

feat: scroll into view
  src/pages/Home/hooks/useListenerMsgFromEdtitor.ts
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@55a893875b7f5dcb6eb6fe7aca45f434823e00ff 🚀
  assets/index-BMKCa7lc.js
  assets/index-Bu9OxS-3.js
  assets/index-CfFU-xAF.js
  assets/index-ClhWby8H.js
  assets/index-DBgp_2FD.js
  assets/index-DI2zk17p.js
  assets/index-DgbUlhjj.js
  assets/index-HCQEffci.js
  assets/index-nlqaV3FY.js
  assets/index-qYW9JC4j.js
  assets/index-ukJiYdeo.js
  index.html
Due: none

feat: stash
  src/pages/Home/hooks/useListenerMsgFromEdtitor.ts
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@928b3d87daad19f6da715a8bd95a65923856564c 🚀
  assets/index-BE9XgWBa.js
  assets/index-BLvdfFHl.js
  assets/index-BN1tRd-K.js
  assets/index-CGR8ZLsT.js
  assets/index-DI2zk17p.js
  assets/index-DgbUlhjj.js
  assets/index-DrWLlwhj.js
  assets/index-HCQEffci.js
  assets/index-bfr-I5Si.js
  assets/index-nlqaV3FY.js
  assets/index-ukJiYdeo.js
  index.html
Due: none

feat: 翻译文案
  src/sections/FeaturedSlideShow/schema.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@8ef2c2ee125802cda93ee186e200f12bcf49e474 🚀
  assets/index-BE9XgWBa.js
  assets/index-BLvdfFHl.js
  assets/index-BN1tRd-K.js
  assets/index-C0DixjIC.js
  assets/index-CGR8ZLsT.js
  assets/index-C_TMttGF.js
  assets/index-Cr41755o.js
  assets/index-Cytb_m4h.js
  assets/index-Dayk4pab.js
  assets/index-LNCA-1cj.js
  assets/index-bfr-I5Si.js
  index.html
Due: none

feat: schema 协议
  src/locales/zh-hans-cn.schema.json
  src/sections/FeaturedSlideShow/schema.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@8563b1dec7da6f811574cbbbc7c510da770be1f0 🚀
  assets/index-9cD23pee.js
  assets/index-A_KGfvUt.js
  assets/index-B5unw2YH.js
  assets/index-BhnU0Ad8.js
  assets/index-C_TMttGF.js
  assets/index-Cr41755o.js
  assets/index-Cytb_m4h.js
  assets/index-D5Xh6OQr.js
  assets/index-Dayk4pab.js
  assets/index-DdYkV1hO.js
  assets/index-LNCA-1cj.js
  index.html
Due: none

feat: 没用的
  src/types/section.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@34915349ec0faf41fe4137ba36cf07ccb4737cbd 🚀
  assets/index--kDiSxtF.js
  assets/index-A_KGfvUt.js
  assets/index-B5unw2YH.js
  assets/index-BhnU0Ad8.js
  assets/index-BkYloI-H.js
  assets/index-BmZSgV7c.js
  assets/index-Bv-RfkM0.js
  assets/index-C4nNIH-u.js
  assets/index-D5Xh6OQr.js
  assets/index-DOooR1xu.js
  assets/index-DdYkV1hO.js
  index.html
Due: none

feat: disabled
  src/types/section.ts
Due: eslint --fix, prettier --write

feat: block隐藏
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@c6ca07988d06fb17c47e23500530d0fbf4f154b6 🚀
  assets/index--kDiSxtF.js
  assets/index-BCJ_p4SG.js
  assets/index-Bhrd7uWq.js
  assets/index-BkYloI-H.js
  assets/index-Bv-RfkM0.js
  assets/index-C4nNIH-u.js
  assets/index-Ca9v2Iyc.js
  assets/index-CoUAZxNy.js
  assets/index-DCWZ_w-K.js
  assets/index-DOooR1xu.js
  assets/index-DXvd3rdr.js
  index.html
Due: none

feat: lang:
  src/i18n.ts
  src/locales/en.json
  src/locales/en.schema.json
  src/pages/Home/hooks/useInitEditor.ts
  src/pages/Home/hooks/useSendLanguageToEditor.ts
  src/pages/Home/index.tsx
  src/store/index.ts
  src/store/reducer/global.ts
  src/types/enum.ts
  src/utils/IFrameCommunicator/index.ts
  src/utils/IFrameCommunicator/type.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@860dce470bbf4f9dbe094f4b1565c4ec37f44444 🚀
  assets/index-0_xmThPM.js
  assets/index-B8vnbpa8.js
  assets/index-BCJ_p4SG.js
  assets/index-Bhrd7uWq.js
  assets/index-BsQOkDpy.js
  assets/index-CFDkop4k.js
  assets/index-Ca9v2Iyc.js
  assets/index-CoUAZxNy.js
  assets/index-D0xODK-b.js
  assets/index-DCWZ_w-K.js
  assets/index-DXvd3rdr.js
  assets/index-DllaVDZi.js
  index.html
Due: none

feat: 切换语料
  src/pages/Home/hooks/useSendLanguageToEditor.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@a8e41e0bfbadc6b9807893177e4314db1d2f21c5 🚀
  assets/index-0_xmThPM.js
  assets/index-B8vnbpa8.js
  assets/index-BLnbaA4q.js
  assets/index-Bm5G-_hn.js
  assets/index-BsQOkDpy.js
  assets/index-Ch27AxRB.js
  assets/index-D0xODK-b.js
  assets/index-DZNvhPiz.js
  assets/index-DllaVDZi.js
  assets/index-WcW8gZX9.js
  assets/index-lUjAoGF7.js
  index.html
Due: none

feat: 删除无用
  src/locales/en.schema.json
  src/locales/zh-hans-cn.schema.json
  src/store/reducer/home.ts
  src/store/reducer/theme.ts
  src/theme/schema.json
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@fde0401e69629e2133efa83ce6e73accd88a942e 🚀
  assets/index-BEC9Klt5.js
  assets/index-BLnbaA4q.js
  assets/index-BQd_nOpO.js
  assets/index-BhBa6rHc.js
  assets/index-Bm5G-_hn.js
  assets/index-Ch27AxRB.js
  assets/index-DZNvhPiz.js
  assets/index-DzB88wKu.js
  assets/index-SO3eVmkX.js
  assets/index-WcW8gZX9.js
  assets/index-ivZVjoHF.js
  assets/index-lUjAoGF7.js
  index.html
Due: none

feat: 删除
  docs/images/schema_01.jpg
  docs/images/schema_02.jpg
  docs/images/schema_03.jpg
  docs/images/schema_04.jpg
  docs/images/schema_05.jpg
  docs/images/schema_06.jpg
  docs/images/schema_07.jpg
  docs/images/schema_08.jpg
  docs/images/schema_09.jpg
  docs/images/schema_10.jpg
  docs/images/schema_11.jpg
  docs/images/schema_12.jpg
  docs/schema协议.md
Due: none

feat: 主题schema
  src/theme/schema.json
Due: none

feat: stash
  src/locales/zh-hans-cn.schema.json
  src/store/reducer/theme.ts
  src/theme/schema.json
  src/theme/schema.ts
  src/types/section.ts
Due: eslint --fix, prettier --write

feat: ts
  src/theme/schema.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@3c9958ccc580fc28f27a8c6c3c53360c8faf8196 🚀
  assets/index-1hCfoKsh.js
  assets/index-BEC9Klt5.js
  assets/index-BQd_nOpO.js
  assets/index-BSo74_P_.js
  assets/index-BhBa6rHc.js
  assets/index-DBm5wCjx.js
  assets/index-DIweDfHl.js
  assets/index-DikenE6e.js
  assets/index-DzB88wKu.js
  assets/index-SO3eVmkX.js
  assets/index-_Wl7efrz.js
  assets/index-ivZVjoHF.js
  index.html
Due: none

feat: url参数
  src/pages/Home/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@60afb5b4a9533ecd2f7c0cdadb0b52669075ff28 🚀
  assets/index-1hCfoKsh.js
  assets/index-BPLpRWDK.js
  assets/index-BSo74_P_.js
  assets/index-BX5nPV8I.js
  assets/index-CTanux4L.js
  assets/index-DBm5wCjx.js
  assets/index-DIweDfHl.js
  assets/index-DfknvpTP.js
  assets/index-DikenE6e.js
  assets/index-QHZL7TR2.js
  assets/index-_Wl7efrz.js
  assets/index-o9OasjpW.js
  index.html
Due: none

feat: 主题配置
  src/pages/Home/hooks/useInitEditor.ts
  src/pages/Home/hooks/useListenerMsgFromEdtitor.ts
  src/pages/Home/index.module.less
  src/pages/Home/index.tsx
  src/store/reducer/theme.ts
  src/types/section.ts
  src/utils/IFrameCommunicator/index.ts
  src/utils/IFrameCommunicator/type.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@e1a12c1b137169316ff295b9c5219e1a0d413d95 🚀
  assets/index-BBA81mj3.js
  assets/index-BPLpRWDK.js
  assets/index-BX5nPV8I.js
  assets/index-BySpJ4Ew.js
  assets/index-C-TPPBjG.css
  assets/index-CC5GrTbq.css
  assets/index-CTanux4L.js
  assets/index-D-308KsB.js
  assets/index-D2kO3nmT.js
  assets/index-DfknvpTP.js
  assets/index-KEyyUANu.js
  assets/index-QHZL7TR2.js
  assets/index-o9OasjpW.js
  assets/index-vjbJH8Cz.js
  index.html
Due: none

feat: 语料
  src/locales/zh-hans-cn.schema.json
Due: none

feat: delete
  src/locales/zh-hans-cn.schema.json
Due: none

Deploying to gh-pages from @ lizuncong/arise-theme@171a8f815c70158f2de326d36d6d6958230eb51b 🚀
  assets/index-BBA81mj3.js
  assets/index-BCrrZk0t.js
  assets/index-BKZXqeeX.js
  assets/index-BXXAJDm9.js
  assets/index-Blw8jPrU.js
  assets/index-CgxE_mY9.js
  assets/index-D-308KsB.js
  assets/index-D2kO3nmT.js
  assets/index-DI8cba76.js
  assets/index-KEyyUANu.js
  assets/index-vjbJH8Cz.js
  index.html
Due: none

feat: 语料切换
  src/pages/Home/hooks/useSendLanguageToEditor.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: **/*.less)
  stylelint --fix: any of: **/*.less
