Repository lizuncong/arise-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.less": [
    "stylelint --fix",
    "prettier --write"
  ]
}

Deploying to gh-pages from @ lizuncong/arise-theme@b2ac19816a67e2503e2dc397393170941332e589 🚀
  assets/index-BCrrZk0t.js
  assets/index-BKZXqeeX.js
  assets/index-BQVonyNm.js
  assets/index-BXXAJDm9.js
  assets/index-BaW5p9J5.js
  assets/index-Blw8jPrU.js
  assets/index-C5RidHfs.js
  assets/index-CFSR2iQg.js
  assets/index-Cu8VsLKn.js
  assets/index-DI8cba76.js
  assets/index-DRsFDf6a.js
  index.html
Due: none

feat: 文案
  src/locales/en.schema.json
Due: none

Deploying to gh-pages from @ lizuncong/arise-theme@146e37aabc62d5674a9907b4760e4cc05174669d 🚀
  assets/index-BQVonyNm.js
  assets/index-BvxATeAf.js
  assets/index-BynnWsMz.js
  assets/index-C5RidHfs.js
  assets/index-C7_foBf3.js
  assets/index-CFSR2iQg.js
  assets/index-CRtGGxJp.js
  assets/index-Cu8VsLKn.js
  assets/index-CvGd4qDD.js
  assets/index-D4KRaQYO.js
  assets/index-DRsFDf6a.js
  index.html
Due: none

feat: 主题设置
  src/pages/Home/index.tsx
  src/sections/Video/default.svg
  src/sections/Video/index.module.less
  src/sections/Video/index.tsx
  src/store/reducer/home.ts
  src/styles/normalize.css
  src/utils/themeConfigToCssVars.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@3fe46c718777e6be79f0790f5a065b1df6852deb 🚀
  assets/index-BVduetdL.css
  assets/index-BYaZF09L.js
  assets/index-Bh0mH5MT.js
  assets/index-BvxATeAf.js
  assets/index-BynnWsMz.js
  assets/index-C0LKcu-F.js
  assets/index-C7_foBf3.js
  assets/index-CV9725zV.js
  assets/index-CvGd4qDD.js
  assets/index-D4KRaQYO.js
  assets/index-D4MgeZBF.js
  assets/index-DVwUJhIU.css
  assets/index-DqVUnwWl.js
  assets/index-hleGRU_U.css
  index.html
Due: none

feat: 移动文件
  src/assets/default.svg
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write

feat: stash
  .stylelintrc.json
  src/App.tsx
  src/sections/Video/index.tsx
  src/styles/base.css
  src/styles/base.less
  src/styles/normalize.css
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@5842a9ed4263515dd1a54d0423866a39ebe4819b 🚀
  assets/index-BOfUI3GN.js
  assets/index-Bh0mH5MT.js
  assets/index-C0LKcu-F.js
  assets/index-C9w55ImD.js
  assets/index-CSQvDH83.js
  assets/index-CV9725zV.js
  assets/index-Cwc-eZlA.js
  assets/index-D4MgeZBF.js
  assets/index-D7Al6fLK.css
  assets/index-DVwUJhIU.css
  assets/index-DqVUnwWl.js
  assets/index-QeHVmVD3.js
  assets/index-hmciXzTy.js
  index.html
Due: none

feat: stash
  src/sections/Video/index.module.less
  src/sections/Video/index.tsx
  src/styles/base.less
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@f7970982f71f0c3a55827aa0a1cec99835379d16 🚀
  assets/index-7DKYIV15.js
  assets/index-B1rJp2CG.css
  assets/index-BOfUI3GN.js
  assets/index-BajE0e9b.js
  assets/index-C9w55ImD.js
  assets/index-CHru7QsQ.js
  assets/index-CSQvDH83.js
  assets/index-CoU04D9n.js
  assets/index-CtGs6Akn.css
  assets/index-Cwc-eZlA.js
  assets/index-Cxu0jrK7.js
  assets/index-D7Al6fLK.css
  assets/index-DSpJr4Xe.js
  assets/index-hleGRU_U.css
  assets/index-hmciXzTy.js
  index.html
Due: none

feat: css
  src/styles/base.less
Due: prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@20c756ebfcb582ceb19cbd7a79233764840e1314 🚀
  assets/index-7DKYIV15.js
  assets/index-BajE0e9b.js
  assets/index-CHru7QsQ.js
  assets/index-CNYSVQQY.js
  assets/index-CoU04D9n.js
  assets/index-CtGs6Akn.css
  assets/index-D9xy6D6G.js
  assets/index-DPVJSYii.js
  assets/index-DSpJr4Xe.js
  assets/index-DqOr2bwo.js
  assets/index-KHKZ_wHR.js
  assets/index-XRHZYUhM.css
  assets/index-YIDyGzYD.js
  index.html
Due: none

feat: 选择本地视频
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write

feat: video
  src/sections/FeaturedSlideShow/index.module.less
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/MultiMediaSplicing/index.module.less
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/Video/index.module.less
  src/sections/Video/index.tsx
  src/styles/base.less
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@c3b9cf355ab7c99315adef85b588361398ebb4d8 🚀
  assets/index-B1rJp2CG.css
  assets/index-BZ0QH4FM.js
  assets/index-C6xLDdoi.css
  assets/index-CLQ_PylQ.js
  assets/index-CNYSVQQY.js
  assets/index-CTX7C3qC.js
  assets/index-CURpcX4z.js
  assets/index-CYLoSdBZ.js
  assets/index-D9joBasl.js
  assets/index-D9xy6D6G.js
  assets/index-DAhFn1H1.css
  assets/index-DPVJSYii.js
  assets/index-DV_Q9V3O.css
  assets/index-KC4I-qUP.css
  assets/index-KHKZ_wHR.js
  assets/index-XRHZYUhM.css
  assets/index-YIDyGzYD.js
  index.html
Due: none

feat: 自动播放
  src/pages/Home/index.module.less
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@269a7172d42e0548746c902b654bef48e6cced5c 🚀
  assets/index-BVj0BKM_.js
  assets/index-BZ0QH4FM.js
  assets/index-C-TPPBjG.css
  assets/index-C3uEWTeD.js
  assets/index-CLQ_PylQ.js
  assets/index-CS_ryRcq.js
  assets/index-CTX7C3qC.js
  assets/index-CURpcX4z.js
  assets/index-CYLoSdBZ.js
  assets/index-CmuNJQvy.css
  assets/index-CtyfC1n_.js
  assets/index-DKcDeW3D.js
  assets/index-DZJ-mp1_.js
  index.html
Due: none

feat: padding
  src/sections/Video/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@66abc696e2694275ffcfa23408181736523499a7 🚀
  assets/index-A3_-dFDT.js
  assets/index-BVj0BKM_.js
  assets/index-Ba-jFiVu.js
  assets/index-C3uEWTeD.js
  assets/index-CS_ryRcq.js
  assets/index-CXIUdMd4.js
  assets/index-CtyfC1n_.js
  assets/index-Cv8y9P-U.js
  assets/index-DKcDeW3D.js
  assets/index-Dnzrbg-d.js
  assets/index-k6Y-DXxj.js
  index.html
Due: none

feat: 文案
  src/locales/en.schema.json
  src/locales/zh-hans-cn.schema.json
Due: none

Deploying to gh-pages from @ lizuncong/arise-theme@0d1a4012640c1635b9748b297209f0dcdae2a217 🚀
  assets/index-A3_-dFDT.js
  assets/index-BMiBjE0q.js
  assets/index-Ba-jFiVu.js
  assets/index-BlOeKlaW.js
  assets/index-Cv8y9P-U.js
  assets/index-D3Z4t65H.js
  assets/index-Dnzrbg-d.js
  assets/index-DuhLgs3T.js
  assets/index-S25lUud8.js
  assets/index-k6Y-DXxj.js
  assets/index-ncj6b2a6.js
  index.html
Due: none

feat: 轮播图依赖
  package-lock.json
  package.json
Due: none

feat: 轮播图
  src/sections/FeaturedSlideShow/index.module.less
  src/sections/FeaturedSlideShow/index.tsx
  src/sections/FeaturedSlideShow/schema.ts
  src/store/reducer/home.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@b783f0d53a5594cd1f6b07f8e36dc34019c273a9 🚀
  assets/index-BMiBjE0q.js
  assets/index-BVvxgKll.js
  assets/index-BlOeKlaW.js
  assets/index-CDzHTyC4.css
  assets/index-CKm4woNB.js
  assets/index-COp4yV0O.js
  assets/index-D3AkbcSo.js
  assets/index-D3Z4t65H.js
  assets/index-D8Flu_EL.js
  assets/index-DuhLgs3T.js
  assets/index-S25lUud8.js
  assets/index-jKqAcJbs.js
  assets/index-ncj6b2a6.js
  index.html
Due: none

feat: 兜底图
  src/assets/default_img.svg
  src/sections/FeaturedSlideShow/index.module.less
  src/sections/FeaturedSlideShow/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@0343c85e38324fcaec74b09f1ae23c44f2f6aeb2 🚀
  assets/index-B0OPZSdh.js
  assets/index-BJ3xqWXA.css
  assets/index-BVvxgKll.js
  assets/index-BqvOkYra.js
  assets/index-CDzHTyC4.css
  assets/index-CKILobAW.js
  assets/index-CMKrQYLD.js
  assets/index-COp4yV0O.js
  assets/index-CkPpO7CB.js
  assets/index-CxbuIhnD.js
  assets/index-D3AkbcSo.js
  assets/index-D8Flu_EL.js
  assets/index-jKqAcJbs.js
  index.html
Due: none

feat: 增加block
  src/locales/en.json
  src/locales/zh-hans-cn.json
  src/pages/Home/index.tsx
  src/sections/MultiMediaSplicing/Collection/index.tsx
  src/sections/MultiMediaSplicing/Image/index.tsx
  src/sections/MultiMediaSplicing/Product/index.tsx
  src/sections/MultiMediaSplicing/Video/index.tsx
  src/sections/MultiMediaSplicing/index.module.less
  src/sections/MultiMediaSplicing/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@ee805ae78247e809a9b8739b7efd533ea610dddf 🚀
  assets/index-4AZ2gsiW.js
  assets/index-6B65C0rR.js
  assets/index-B0OPZSdh.js
  assets/index-BlquxUP5.css
  assets/index-BqvOkYra.js
  assets/index-CKILobAW.js
  assets/index-CMKrQYLD.js
  assets/index-CkPpO7CB.js
  assets/index-CrzlZ3D8.js
  assets/index-CxbuIhnD.js
  assets/index-D3fSwiCu.js
  assets/index-DV_Q9V3O.css
  assets/index-DcE4_vCR.js
  assets/index-Dwsv9GlJ.js
  index.html
Due: none

feat: splicing
  .stylelintrc.json
  src/sections/MultiMediaSplicing/Collection/index.module.less
  src/sections/MultiMediaSplicing/Collection/index.tsx
  src/sections/MultiMediaSplicing/Image/index.tsx
  src/sections/MultiMediaSplicing/Product/index.module.less
  src/sections/MultiMediaSplicing/Product/index.tsx
  src/sections/MultiMediaSplicing/Video/index.tsx
  src/sections/MultiMediaSplicing/index.module.less
  src/sections/MultiMediaSplicing/index.tsx
  src/sections/MultiMediaSplicing/schema.ts
  src/store/reducer/home.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@7e6afd4eb08918ee4fa1af7d6b998b2001dd89dd 🚀
  assets/index-4AZ2gsiW.js
  assets/index-BRf66iQo.js
  assets/index-BlquxUP5.css
  assets/index-BuBAYg0_.css
  assets/index-CrzlZ3D8.js
  assets/index-D3fSwiCu.js
  assets/index-DOY4z8HA.js
  assets/index-D_0cVBgb.js
  assets/index-DcE4_vCR.js
  assets/index-Dwsv9GlJ.js
  assets/index-JiMyV6iT.js
  assets/index-lgQFLeHZ.js
  assets/index-sgO0yqbP.js
  index.html
Due: none

feat: img
  src/sections/MultiMediaSplicing/Image/index.module.less
  src/sections/MultiMediaSplicing/Image/index.tsx
  src/sections/MultiMediaSplicing/Product/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@ecf4007aac1ea60fb0104177b8d70c44a54b01c9 🚀
  assets/index-BASVeTT6.js
  assets/index-BRf66iQo.js
  assets/index-BuBAYg0_.css
  assets/index-CFytOci3.js
  assets/index-CzAKdAOG.js
  assets/index-DOY4z8HA.js
  assets/index-D_0cVBgb.js
  assets/index-JiMyV6iT.js
  assets/index-Mw0IgCGz.js
  assets/index-PkEhv1lX.js
  assets/index-eIcdwsKS.css
  assets/index-sgO0yqbP.js
  assets/index-xNmkrba1.js
  index.html
Due: none

feat: stash
  src/sections/MultiMediaSplicing/Video/index.module.less
  src/sections/MultiMediaSplicing/Video/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/arise-theme@ebe71231c378f78ce05b763207cfaffb8f04434a 🚀
  assets/default-CLvNYR25.js
  assets/index-B-6Yz95F.js
  assets/index-CFytOci3.js
  assets/index-ChctaAhe.js
  assets/index-CzAKdAOG.js
  assets/index-Dsl5OuMT.js
  assets/index-Mw0IgCGz.js
  assets/index-PkEhv1lX.js
  assets/index-XwXCAhZi.js
  assets/index-ZJzxfAX0.js
  assets/index-eIcdwsKS.css
  assets/index-imAyfs3S.css
  assets/index-vyesPx3U.js
  assets/index-xNmkrba1.js
  index.html
Due: none

feat: stash
  src/locales/zh-hans-cn.schema.json
  src/theme/schema.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@87f739acb416c55ac71931772f457d1786e82f6e 🚀
  assets/default-CLvNYR25.js
  assets/default-DHjGvORh.js
  assets/index-B-6Yz95F.js
  assets/index-BAArSrUH.js
  assets/index-CBRnHbRv.js
  assets/index-ChctaAhe.js
  assets/index-DFiP7k1m.js
  assets/index-DjWHHYt-.js
  assets/index-Dsl5OuMT.js
  assets/index-KJW3ny_-.js
  assets/index-NGLktdtc.js
  assets/index-XwXCAhZi.js
  assets/index-ZJzxfAX0.js
  index.html
Due: none

feat: 支持预览
  src/pages/Home/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/arise-theme@5c1a31e7020e66989e5845779a3e6bf63ee24f5b 🚀
  assets/default--HCSn3Ye.js
  assets/default-DHjGvORh.js
  assets/index--lXuA0QM.js
  assets/index-BEzsPLAn.js
  assets/index-BT_sVNkS.js
  assets/index-CBRnHbRv.js
  assets/index-D8J59KDa.js
  assets/index-DFiP7k1m.js
  assets/index-DSxHPcGn.js
  assets/index-DjWHHYt-.js
  assets/index-DxHtWzcw.js
  assets/index-KJW3ny_-.js
  assets/index-NGLktdtc.js
  index.html
Due: none

feat: 文案
  src/locales/zh-hans-cn.schema.json
Due: none

Deploying to gh-pages from @ lizuncong/arise-theme@51da43ccf35ee282bf75762b8f322da2c1902955 🚀
  assets/default--HCSn3Ye.js
  assets/default-CCkrW6gW.js
  assets/index--iVIyPGW.js
  assets/index--lXuA0QM.js
  assets/index-57-oM8Ak.js
  assets/index-B232I_nT.js
  assets/index-BEzsPLAn.js
  assets/index-BT_sVNkS.js
  assets/index-CB3wY3m-.js
  assets/index-D8J59KDa.js
  assets/index-DxHtWzcw.js
  assets/index-fc0c1Xnf.js
  assets/index-zW2k0z3_.js
  index.html
Due: none
